<ul class="navbar-nav mb-2 mb-lg-0">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Аккаунт
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><h6 class="dropdown-header">{{ user.role }}</h6></li>
            <li><a class="dropdown-item" href="{{ path_for('settings.page') }}">Настройки</a></li>

            {% if user.role == 'admin' %}
                <li><a class="dropdown-item" href="{{ path_for('adminpanel.page') }}">Админка</a></li>
            {% endif %}

            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path_for('logout.action') }}">Выйти</a></li>
        </ul>
    </li>
</ul>
